{% extends "base.html" %}

{% block title %}
    Add Expense
{% endblock %}

{% block content %}
    <div class="container mt-5 bg-light">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-5">
    <h1>Add Expense</h1>
    <form method="post" class="mb-5">
        {% csrf_token %}
        <div class="form-group mt-3">
            <label for="paid_by">Select for paying:</label><br>
            <select class="form-control" name="paid_by">
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
        <label for="amount">Amount:</label>
        <input class="form-control" type="text" name="amount" id="amount">
        </div>
        <div class="form-group mt-3">
        <label for="expense_type">Expense Type:</label>
        <select class="form-control" name="expense_type" id="expense_type">
            <option value="EQUAL">Equal</option>
            <option value="PERCENT">Percent</option>
            <option value="EXACT">Exact</option>
        </select>
    </div>
    <div class="form-group mt-3">
        <label for="participants">Select Participants:</label><br>
        {% for user in users %}
            <input type="checkbox" name="participants" value="{{ user.id }}">{{ user.name }}<br>
        {% endfor %}
    </div>
    <div class="form-group mt-3">
        <div id="percentages" style="display: none;">
            <label for="percentages">Enter Percentages (comma-separated):</label>
            <input class="form-control" type="text" name="percentages" id="percentages"placeholder="Enter percentage for selected user">
        </div>
    </div>
    <div class="form-group mt-3">
        <div id="shares" style="display: none;">
            <label for="shares">Enter Exact Shares (comma-separated):</label>
            <input class="form-control" type="text" name="shares" id="shares" placeholder="Enter exact amount for selected user">
        </div>
    </div>
        <button type="submit" class="btn btn-success">Add</button>
    </form>

</div>
</div>
</div>
{% endblock %}